/* Color scheme */
:root {
    --background: #000;
    --background-dark: #555;
  
    --text-standard: #ccc;
    --text-subtle: #777;
    --text-title: #fff;
    --focus: #f98836;
    --focus-highlight: #e27426;
  }
  
  /* Basic Reset */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Setup */
  body {
    background-color: var(--background);
    color: var(--text-standard);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
    color: var(--text-title);
  }
  
  ul,
  li {
    list-style: none;
  }
  
  input[type="submit"] {
    border: none;
    font-size: 1rem;
  }
  
  h1 {
    font-size: 4rem;
    color: var(--text-title);
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 3rem;
    color: var(--text-title);
    text-transform: uppercase;
  }
  
  h3 {
    font-size: 1.1rem;
    color: var(--text-title);
    text-transform: uppercase;
  }
  
  .sub-header {
    color: var(--focus);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-top: 1rem;
  }
  
  /* Utility classes */
  .flex-row-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .flex-column-center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .flex-row {
    display: flex;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .container-centered {
    margin: auto;
  }
  
  .left-align {
    align-items: flex-start;
    text-align: left;
    width: auto;
  }
  
  .content {
    position: relative;
    z-index: 2;
    padding: 12rem 10rem 12rem 6rem;
  }
  
  .shadow {
    box-shadow: 5px 20px 60px rgba(0, 0, 0, 0.7), 5px 5px 100px rgba(255, 255, 255, 0.2)
  }
  
  .focus {
    color: var(--focus);
  }
  
  body .focus-bg {
    background-color: var(--focus);
  }
  
  /* Buttons */
  .btn {
    background-color: var(--background-dark);
    padding: 0.5rem 1.5rem;
    width: 100%;
    color: var(--text-title);
  }
  
  body .btn:hover {
    background-color: var(--focus-highlight);
  }
  
  /* Header */
  header {
    position: fixed;
    top: 0;
    left: 6rem;
    padding-top: 3rem;
    z-index: 100;
  }
  
  header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background: linear-gradient(to bottom, #0006, #0006 60%, #0000);
    z-index: -1;
  }
  
  header .social-icons {
    display: none;
    position: fixed;
    right: 3rem;
    top: 2.5rem;
    align-items: flex-end;
  }
  
  header .social-icons li {
    margin-left: 2rem;
  }
  
  /* Nav */
  #nav-bar a {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5em;
    margin-left: 5rem;
    text-transform: uppercase;
  }
  
  #nav-bar a:hover {
    color: var(--focus);
  }
  
  /* Aside */
  .social-icons {
    position: fixed;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);
    z-index: 100;
  }
  .social-icons a {
    color: var(--text-subtle);
  }
  
  .social-icons li {
    margin: 2rem 0;
  }
  
  /* Showcase */
  #showcase {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#ffffff34, #ffffff17);
  }
  
  #showcase .product-img {
    position: absolute;
    top: 0;
    left: 10rem;
    z-index: 1;
    overflow: hidden;
  }
  
  
  #showcase .product-video {
    position: absolute;
    top: 0;
    left: 10rem;
    z-index: -1;
    overflow: hidden;
  }
  
  #showcase .product-video video {
    width: 100%;
  }
  
  #showcase .sub-header {
    margin-bottom: 1rem;
  }
  
  /* Pricing */
  #pricing {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#ffffff34, #ffffff17);
  }
  
  .price-tag {
    color: var(--text-subtle);
    width: 12rem;
    padding: 2rem 1rem 1rem 1rem;
    border: 1px solid;
    border-color: var(--text-subtle);
    justify-content: flex-start;
  }
  
  .price-strong {
    color: var(--text-title);
    font-size: 2em;
    margin: 0 0.1em;
  }
  
  #pricing li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
  
  }
  
  #pricing li:first-child {
    margin-top: 0.3rem;
    margin-bottom: 0;
  }
  
  #pricing li:last-child {
    margin-top: 2rem;
  }
  
  .focus-line {
    border-color: var(--focus);
    border-width: 1.5px;
    outline: 2px solid;
    outline-color: var(--focus);
    z-index: 100;
  }
  
  
  /* Offer */
  #Offer {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#ffffff34, #ffffff17);
  }
  
  #Offer form {
    width: 32rem;
    border: 1px solid;
    border-color: var(--text-subtle);
    padding: 2rem 4rem;
  }
  
  #Offer form h3 {
    margin-bottom: 1rem;
  }
  
  input[type="email"] {
    padding: 0.5rem;
    margin: 1rem 0;
  }
  
  /* Media queries */
  
  @media only screen and (max-width: 1200px) {
    #pricing > .flex-row-center,
    #Offer > .flex-row-center {
        flex-direction: column;
    }
    #pricing .left-align,
    #Offer .left-align {
        align-items: center;
        text-align: center;
        justify-content: flex-end;
        flex: 0;
    }
    #pricing .sub-header,
    #Offer .sub-header {
        margin-bottom: 4rem;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    aside.social-icons,
    #nav-bar {
        display: none;
    }
    header .social-icons {
        display: flex;
    }
    header img {
        width: 8rem;
    }
    .content {
        padding: 6rem 3rem 6rem 3rem;
    }
    #pricing .content,
    #Offer .content {
        padding: 10rem 3rem 10rem 3rem;
    }
    header {
        left: 3rem;
        padding-top: 2rem;
    }
    #showcase .left-align {
        align-items: center;
        text-align: center;
        justify-content: flex-start;
    }
    .footer-text {
        left: 3rem;
        bottom: 2rem;
    }
    .footer-logo {
        right: 3rem;
        bottom: 2rem;
    }
    #showcase .product-img,
    #showcase .product-video {
        top: 15%;
        left: 0;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.3rem;
    }
  }
  /* Tablet 768px */
  @media only screen and (max-width: 768px) {
    #showcase .product-img,
    #showcase .product-video {
        top: 10%;
        left: 0;
    }
    #pricing {
        height: auto;
    }
    #pricing .flex-row {
        flex-direction: column;
    }
    #pricing .flex-row,
    .price-tag {
        width: 100%;
    }
    .price-tag {
        padding: 2rem; 
    }
    #Offer .flex-row,
    #Offer form {
        width: 100%;
    } 
    #Offer form {
        padding: 2rem 2rem;
    }
  }
  
  /* Phone 568px */
  @media only screen and (max-width: 568px) {
    header .social-icons li {
        margin-left: 0.8rem;
    }
    #pricing .content,
    #Offer .content {
        padding: 1rem 2rem 5rem 2rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    .footer-logo {
        display: none;
    }
    .footer-text {
        left: 0;
        width: 100%;
        text-align: center;
        padding: 0 2rem;
        font-size: 0.8rem;
    }
    #Offer {
        height: auto;
    }
    #showcase img,
    #showcase video {
        width: 150%;
        left: -25%;
    }
    #video {
        display: none;
    }
    .standard_img {
        display: none;
    }
    .mobile_img {
        display: inline-block;
    }
  }